name: Backend CI
on:
  pull_request:
    branches: [ main ]
    paths:
      - 'backend/**'

jobs:
  quality:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout code
        uses: actions/checkout

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Check formatting and linting
        run: bun run lint

      - name: Run tests
        run: bun run test




